<footer>
    <div class="left_doc">
        <div class="website_logo">
            <a href="#!" target="_self">SGG<img src="/icons/logo.svg"></a>
        </div>
        <p data-lang="footer_p">Copyright © 2022-2023 <a href="https://omar11.sa/">omar11.sa</a>. This is NOT an official Steam tool, All data comes from Steams API's.
            If any of those services are down, data with not be shown.
            <a href="https://store.steampowered.com/about/">Steam</a> is a trademark of Valve Corporation. All game logos are property of their respective owners.</p>
    </div>
    <div class="right_doc">
        <div class="contact_icons">
            <a href="https://github.com/omarx11/steamid.info" class="github" title="github"><img src="/icons/github.svg"></a>
            <a href="https://discordredirect.discordsafe.com/users/582305812903493663" class="discord" title="discord"><img src="/icons/discord.svg"></a>
            <a href="mailto:mail@omar11.sa" target="_blank" class="email" title="mail@omar11.sa"><img src="/icons/email.svg"></a>
        </div>
    </div>
</footer>