<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/icons/favicon.ico" />
    <title>404 Not Found</title>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-MBS951EPSQ"
    ></script>
    <script type="text/javascript" src="js/gtag.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Vazirmatn&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>404: Not Found</h1>
        <h2>
          <a href="./">↩ Back to SGG Home</a>
        </h2>
      </div>
    </div>
  </body>
</html>
